.header__fondo {
    background-image: url("./assets/img-2.webp");
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem 2rem;
}

.header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;


    li {
        position:relative;
        display: inline-block;
        margin: 0 1.5rem;
        font-weight: var(--font-bold);
        font-size: 1.5rem;
    
        a::after{
            content: "";
            position: absolute;
            display: inline-block;
            bottom:-0.5rem;
            left: 0;
            height: 0.2rem;
            width:0;
            background-color: var(--color-bg);
            transition: all .3s ease;
        }

    }

    li:hover a::after{
        width: 100%;
    }

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.header__sentence {
    position: relative;
    align-self: center;
    margin: 3rem 1rem 0 1rem;
    max-width: 50rem;
    p {
        margin: 2rem 0 2rem 0;
        font-size: clamp(2.5rem, 5vw, 5rem);
        font-weight: var(--font-medium);
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 10rem;
        height: 0.2rem;
        background-color: var(--color-accent);
        transition: all 0.5s ease;
    }

    a {
        position: relative;
        font-size: 2rem;
        cursor: pointer;
        animation-name:link; 
        animation-duration:1s;
        animation-iteration-count: infinite;
        animation-timing-function:linear;
    }

    @keyframes link{    
        0%{
            top:0rem;
        }
        50%{
            top:0.5rem;
        }
        100%{
            top:1rem;
        }
    }
}


